<!DOCTYPE html>
<html lang="en">
 
  <container name="page" id="page">

<h1>The Grand Library</h1>
  <head>
    <link rel="stylesheet" href="Homestyles.css" />
    <meta charset="utf-8" />
    <title></title>
  </head>
    <body>

      <!--Navbar -->
      <ul class="navb">
        <li>
          <a href="homePage.html">Home</a>
        </li>
        <li>
          <a href="/book">Search</a>
        </li>
        <li>
          <a href="borrowingHistory.html">Borrowing History Page</a>
        </li>
        <li>
          <a href="borrowingPage.html">Borrowing Page</a>
        </li>
        <li>
          <a href="/genre">Genres</a>
        </li>
        <li>
          <a href="login.html">Login</a>
        </li>
        <li>
          <a href="profilePage.html">Profile</a>
        </li>
        <li>
          <a href="/admin">Admin</a>
        </li>
        <li>
          <a href="signUp.html">Sign Up</a>
        </li>
      </ul>
      <br />
      <br />

      {{{body}}}


    </body> 

 
</container>
</html>