<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Profile Page</title>

    <!-- This is a 3rd-party stylesheet to make available the font family to be used for this page ("Roboto"). -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="Homestyles.css" />
  </head>

  <body>


     <div class="box">
	   <h2>Add Book</h2>
      <form>
        <label for="addbooktitle">Title</label>
        <input id="addbooktitle" name="addbooktitle" type="text">
        <br />
        <label for="addbookauth">Author</label>
        <input id="addbookauth" name="addbookauth" type="text">
      
        <br />
        <label for="addbookgenre">Genre</label>
        <input id="addbookgenre" name="addbookgenre" type="name">
        
        <br />
        <label for="addsubmit">Add</label>
        <input id="addsubmit" name="addsubmit" type="submit" value="Add">
      
      </form>
    </div>

           <div class="box">
	  <h2>Delete Book</h2>
      <form>
        <label for="deletebooktitle">Title</label>
        <input id="deletebooktitle" name="deletebooktitle" type="text">
        <br />
        <label for="deletebookauth">Author</label>
        <input id="deletebookauth" name="deletebookauth" type="text">
      
        <br />
        <label for="deletebookgenre">Genre</label>
        <input id="deletebookgenre" name="deletebookgenre" type="name">
        
        <br />
        <label for="deletesubmit">Delete</label>
        <input id="deletesubmit" name="deletesubmit" type="submit" value="Delete">
      
      </form>
    </div> 
	        <div class="box">
	  <h2>Update Book</h2>
      <form>
        <label for="existingbooktitle">Existing Title</label>
        <input id="existingbooktitle" name="existingbooktitle" type="text">
        <br />
        <label for="existingbookauth">Existing  Author</label>
        <input id="existingbookauth" name="existingbookauth" type="text">
      
        <br />
        <label for="existingbookgenre">Existing Genre</label>
        <input id="existingbookgenre" name="existingbookgenre" type="name">
        
        <br />
      </form>
    </div>

           <div class="box">
      <form>
        <label for="updatebooktitle">New Title</label>
        <input id="updatebooktitle" name="updatebooktitle" type="text">
        <br />
        <label for="updatebookauth">New Author</label>
        <input id="updatebookauth" name="updatebookauth" type="text">
      
        <br />
        <label for="updatebookgenre">New Genre</label>
        <input id="updatebookgenre" name="updatebookgenre" type="name">
        
        <br />
        <br />
        <label for="updatesubmit"></label>
        <input id="updatesubmit" name="updatesubmit" type="submit" value="Update">
      
      </form>
    </div> 
    

  </body>
  <script src="/genre.js"></script>
</html>
